<nav>
        <ul class="navlink">
            <li><a class="brand" href="/">YelpCamp</a></li>
        </ul>
    
        <ul class="navlink collapsable">
            <li><a href="/">Home</a></li>
            <li><a href="/campgrounds/">Campgrounds</a></li>
            <li><a href="/campgrounds/new">New Campground</a></li>
        </ul>
    
        <div class="burger">
            <span class="l1"></span>
            <span class="l2"></span>
            <span class="l3"></span>
        </div>
</nav>