<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head', { title: 'YelpCamp Home'}); %>
</head>
<body>
    <header>
        <%- include('partials/navbar'); %> 
    </header>

    <main>
        <div class="container">
            <h1>Yelp-Camp Homepage</h1>
        </div>
    </main>

    <footer>
        <%- include('partials/footer'); %>
    </footer>
</body>
</html>