<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Campground</title>
</head>
<body>
    <h2>Edit Campground</h2>

    <form action="/campgrounds/<%= camp.id %>?_method=PUT" method="POST">
        <label for="title">Campground Title</label>
        <input type="text" name="title" id="title">

        <label for="location">Campground Location</label>
        <input type="text" name="location" id="location">

        <button type="submit">Edit</button>
    </form>

    <a href="/campgrounds/<%= camp._id %>">Cancel</a>
</body>
</html>