<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Campground</title>
</head>
<body>
    <h2><%= camp.title %></h2>
    <p><%= camp.location %></p>

    <div>
        <form action="/campgrounds/<%= camp._id %>?_method=DELETE" method="POST">
            <button type="submit">Delete</button>
        </form>
        <a href="/campgrounds/<%= camp._id %>/edit">Edit</a>
    </div>

    <div>
        <a href="/campgrounds">All Campgrounds</a>
    </div>


</body>
</html>