@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;

    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    /* overflow-x: hidden; */

    background-color: #010101 !important;
}

main {
    flex: 1;
    padding-top: 12vh;
    padding-bottom: 3vh;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.edit {
    display: flex;
    flex-direction: column;
}

.card {
    background-color: #0D1117 !important;
}

.card-title, .title {
    color: #D6D6D6 !important;
}

.card-text, .form-label {
    color: #989898;
}

.list-group-item {
    background-color: #0D1117 !important;
    border-top: 1px solid rgba(214, 214, 214, .125) !important;
    color: #989898;
}

.delete {
    margin-right: 0.2rem !important;
}

#cluster-map {
    width: 100%;
    height: 500px;
}

#map {
    width: 100%;
    height: 300px;
} 